* {
    margin: 0;
    padding: 0;
}

svg {
    color: black;
    height: 50px;
    opacity: 50%;
    float: left;
}
i {
    color: black;
    font-size: 50px;
    opacity: 50%;
    float: left;
    
}
.open-in-new{
    float: right;
    margin-right: 5px;
    fill: #947b4c;
}
body {
    background-color: #fffccf;
}

ul {
    background-color: rgba(255, 217, 0, 0.1);
    width: 700px;
    margin: 20px auto;
    list-style-type: none;
    padding: 20px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px 1px #ffd49d;
}

ul li>a>div {
    height: 50px;
    width: 500px;
    /* background-color: pink; */
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #675D59;
    padding: 40px;
    text-decoration: none;
    border-radius: 20px;
}

ul li>a>div:hover {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 20px 5px #ffd49d;
    transition: 200ms;
}

ul li img {
    float: right;
    border-radius: 10px;
    opacity: 50%;
    /* margin: 10px; */
    height: 50px;
}

ul li>a>div:hover img {
    height: 150px;
    margin-top:-50px;
	margin-right: -50px;
    transition: 200ms;
    opacity: 100%;
    box-shadow: 0 0 20px 1px #ffd49d;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #675D59;
    cursor: pointer;
}

ul li>a>div>div {
    display: inline-block;
    /* width: 400px; */
    /* background-color: rgb(127, 88, 255); */
    padding-top: 15px;
    margin-left: 20%;
    margin-right: 10%;
    /* height: 140px; */
}

ul li>a>div>div>h2 {
    line-height: 50px;
}

.home {
    position: fixed;
    float: left;
    background-color: rgba(255, 217, 0, 0.1);
    margin-left: 50px;
    list-style-type: none;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px 1px #ffd49d;
    font-weight: 700;
}

.home:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition: 200ms;

}