/* html {
    height: auto;
} */

body {
    background: linear-gradient(150deg,#fff7de,#ffe7e3,#e0fbff);
    background-color: #fffdf7;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    /* display:flex; */
    /* align-items:center; */
    vertical-align: middle;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select:none;
}

.box div{
    float: left;
}

.box a{
    display: block;
    height: 40px;
    width: 120px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #c8c8c8;
    margin: 45px 100px;
    text-align: center;
    line-height: 40px;
    font-family:Arial;
    font-weight: 600;
    text-decoration: none;
    color: #675D59;
    /* box-shadow: 0 0 10px 1px#fff9f7 ; */
}

.box a:hover{
    background-color: #fff4f4;
    transition: 200ms;
}


.box {
    /* display: inline-block; */
    width: 650px;
    height: 400px;
    background-color: #fff;
    margin: 10% auto;
    border-radius: 10px;
    border: 2px solid #ffd9cf;
    box-shadow: 0 0 20px 1px #ffccbf;
}


.box img {
    border-radius: 10px 0 0 10px;
}