{% extends 'base.html'%}

{% block head %}
<title>404:NOT_FOUND</title>
<style>
    body {
        background-color: #fffdf7;
        color: #50a5b3;
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        margin-left: 60px;
    }

    img {
        border-radius: 10px;
        box-shadow: 0 0 10px 1px #bdb1ad;
    }

    img:hover {
        box-shadow: 0 0 20px 1px #bdb1ad;
        transition: 400ms;
    }

    .mask{
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: rgba(0,0,0,0.3);
        color: rgba(132, 241, 255, 0.9);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        text-align: center;
        line-height: 150px;
       
    }
    .main:hover .mask{
        transition: 200ms;
        opacity: 100%;
        
    }

    .main{
        width: 250px;
        height: 150px;
        position: relative;
    }
</style>
{% endblock %}


{% block body %}
<h2>404 了铁子</h2>
    <a href="https://trotyl.xyz">
        <div class="main">
            <div class="mask">Let's GO</div>
            <img src="https://cdn.jsdelivr.net/gh/Trotyl15/blogImg/img/emoji/miharo/miharo-12.png" alt="点我返回主页"
                width="250px" height="150">
        </div>
    </a>
    <p>⬆️点我返回主页</p>
{% endblock %}