{% extends 'base.html'%}

{% block head %}
<base target="_blank">
<title>Projects</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
{% endblock %}

{% block body %}
<a target="_self" href="../">
    <div class="home">
        Home
    </div>
</a>
<ul>
    {% for project in projects %}

    <li>
        <a href="{{project.link}}">
            <div>
                <img src="{{project.image}}" alt="">
                <div>
                    {% if project.icon == 2 %}
                    <i class="fab fa-github"></i>
                    {% endif %}
                    {% if project.icon == 3 %}
                    <svg class="open-in-new" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                        width="24px" fill="#000000">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                            d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" />
                    </svg>
                    {% endif %}
                    <h2>{{project.name|safe}}
                    </h2>

                    <p>{{project.description|safe}}</p>
                </div>
            </div>
        </a>
    </li>
    {% endfor %}

</ul>
<section id="bottom">
{% endblock %}